PianoGame/PianoGame/PianoGame/bin/
PianoGame/PianoGame/PianoGame/bin/
PianoGame/PianoGame/PianoGame/obj/
*.user
*.suo
*.sln.cache
PianoGame/PianoGame/PianoGame/PianoGame.csproj.Debug.cachefile
PianoGame/PianoGame/PianoGameContent/obj/
